
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">
                <h1>olá, vamos te ajudar a recuperar a senha</h1>
                <hr />

                <div class="form-group">
                    <label for="email">digite o seu e-mail:</label>
                    <input type="email" class="form-control" id="email">
                    <br />
                    <a href="#" class="btn btn-vermelho-sem-animacao" role="button">enviar senha</a>
                </div>
            </div>
        </div>
    </div>
</div>

