@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model ClassesMarmitex.UsuarioParceiro

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">
                <h1>entrar</h1>
                <hr />
                <form method="post" action="/Login/Autenticar">
                    <div class="form-group">
                        <label for="email">e-mail:</label>
                        <input type="email" class="form-control" id="email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">senha:</label>
                        <input type="password" class="form-control" id="pwd" name="Senha">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> lembrar minha senha</label>
                    </div>

                    @if (ViewBag.MensagemAutenticacao != null) { <br /><label style="color: red">@ViewBag.MensagemAutenticacao</label><br />}

                    @*<a href="~/home" class="btn btn-vermelho-sem-animacao" role="button">entrar</a>*@
                    <input type="submit" class="btn btn-vermelho-sem-animacao" value="entrar" />
                </form>

                <br />
                <br />
                <p>ainda não tem um usuário?<a href="@Session["urlBase"]/CadastroUsuario"> registre-se</a></p>
                <p>esqueceu sua senha?<a href="@Session["urlBase"]/EsqueciASenha"> envie uma nova para o seu e-mail</a></p>

            </div>
        </div>
    </div>
</div>
