
@{
    ViewBag.Title = "detalhes pedido";
}

@*Se a sessão tiver alguma mensagem, lança um alert com a mensagem*@
@if(Session["MensagemCamposDetalhesPedido"] != null)
{
    <script>alert(Session["MensagemCamposDetalhesPedido"])</script>
}

<div class="container-fluid">
    <div class="col-md-2 detalhes-pedido-carrinho">
        <h2>pedido</h2>
        <hr />
        <div id="visualizacaoCarrinho">
            @{
                @Html.Partial("_CarrinhoCompra")
            }
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9 detalhes-pedido">
        <div class="row">
            <div class="col-md-5 detalhes-pedido-horario">
                <h2>horário para entrega</h2>
                <hr />
                <div style="padding-left: 20px;">
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="12" disabled>as 12 horas</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="13">as 13 horas</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="14">as 14 horas</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="15">as 15 horas</label>
                    </div>
                    <p>os pedidos devem ser feitos com no mínimo 40 minutos de antecedência do horário escolhido para a entrega</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 detalhes-pedido-pagamento">
                <h2>forma de pagamento</h2>
                <hr />
                <div style="padding-left: 20px;">
                    <div class="checkbox">
                        <label><input type="checkbox" onclick="ExibirCampoTroco()" id="checkDinheiro" value="dinheiro" class="checkFormaPagamento">dinheiro</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="vale refeição" class="checkFormaPagamento">vale refeição</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="cartão visa" class="checkFormaPagamento">cartão visa</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="cartão master" class="checkFormaPagamento">cartão master</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="outras bandeiras" class="checkFormaPagamento">outras bandeiras</label>
                    </div>
                    <div id="divTroco" style="display:none">
                        <label for="valorTroco">precisa de troco?</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            <input type="text" class="form-control" id="valorTroco" placeholder="de quanto precisa?">
                        </div>
                    </div>

                    <div>
                        <br />
                        <label>observação:</label>
                        <input type="text" placeholder="alguma observação? escreva aqui..." class="form-control" id="textObservacao" value=""/>
                    </div>
                </div>
            </div>
        </div>

        @{ //objetos utilizados para atualizar a quantidade de um produto
            ClassesMarmitex.DadosPostAjax postDetalhesPedido = new ClassesMarmitex.DadosPostAjax();
            postDetalhesPedido.Recurso = "/DetalhesPedido/AtualizarDetalhesPedido";
            string AvancarParaResumoPedido = string.Format("AvancarParaResumoPedido('{0}', '{1}', '{2}')", @Html.Raw(Json.Encode(postDetalhesPedido)), @Session["urlBase"], "ResumoPedido/Index");
        }

        <div style="text-align: end">
            <a class="btn btn-detalhes-pedido btn-lg" role="button" onclick="@AvancarParaResumoPedido">avançar</a>
        </div>
    </div>
</div>


