<div class="menu-lateral-brinde">
    @if (Session["Brinde"] != null)
    {
        foreach (var brinde in (List<ClassesMarmitex.Brinde>)Session["Brinde"])
        {
            <p>@brinde.Descricao</p>
            <img src="~/Images/@Session["dominioLoja"]/Brindes/@brinde.Imagem" alt="imagem do brinde" class="img-responsive img-rounded" style="max-height: 100px">
            <hr />
        }
    }
</div>
