<link href="~/Content/informacoes.css" rel="stylesheet" type="text/css" />

<div class="informacoes">
    <div class="col-md-3 col-md-offset-3 ">
        <h5>dias de funcionamento</h5>

        @if (ViewBag.HorariosEntrega != null)
        {
            List<ClassesMarmitex.DadosHorarioEntrega> listaDiasFuncionamento = (List<ClassesMarmitex.DadosHorarioEntrega>)ViewBag.HorariosEntrega;

            foreach (var dadosDiasFuncionamento in listaDiasFuncionamento)
            {
                <p>
                    @foreach (var diaFuncionamento in dadosDiasFuncionamento.DiasDeFuncionamento)
                    {
                        @diaFuncionamento.DiaDaSemana <br />
                    }
                </p>
            }
        }

    </div>

    <div class="col-md-4">
        <h5>Horários de entrega</h5>
        <small>(os horários listados são para todos os dias)</small>

        @if (ViewBag.HorariosEntrega != null)
        {
            List<ClassesMarmitex.DadosHorarioEntrega> listaHorariosEntrega = (List<ClassesMarmitex.DadosHorarioEntrega>)ViewBag.HorariosEntrega;

            foreach (var dadosHorarioEntrega in listaHorariosEntrega)
            {
                <p>
                    @foreach (var horarioEntrega in dadosHorarioEntrega.HorariosEntrega)
                    {
                        @horarioEntrega.Horario <br />
                    }
                </p>
            }
        }

    </div>
</div>