@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model ClassesMarmitex.UsuarioParceiro

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: center">
                <h1>meus dados</h1>
                <p style="font:italic; color:#bc2026">os campos com * são de preenchimento obrigatório</p>
                <hr />
                <form method="post" action="@Session["urlBase"]/Usuario/EditarUsuario">
                    @Html.Partial("_FormUsuario")

                    <div class="col-md-12">
                        <div class="buttons-formcontrol">
                            <input type="submit" class="btn btn-success" value="salvar" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
