@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model ClassesMarmitex.UsuarioParceiro

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: center">
                <h1>quero me cadastrar</h1>
                <p style="font:italic; color:#bc2026">os campos com * são de preenchimento obrigatório</p>
                <hr />
                <form method="post" action="@Session["urlBase"]/Usuario/Cadastrar">
                   @Html.Partial("_FormUsuario")

                    <input type="submit" class="btn btn-vermelho-sem-animacao" value="cadastrar" />
                </form>

                <br />
                <br />
                <p>esqueceu sua senha?<a href="@Session["urlBase"]/EsqueciASenha"> envie uma nova para o seu e-mail</a></p>
                <p><a href="@Session["urlBase"]/Login"> já sou cadastrado e quero fazer login</a></p>

            </div>
        </div>
    </div>
</div>
