/*html{
    height: 100% !important;
}*/

.rodape {
    bottom: 0;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 2em;
    margin-top: 20%;
    background-color: #f8f8f8;
    height: 300px;
}

@media (max-width: 991px) {
    .rodape {
        display: none;
    }
}

@media (min-width: 992px) {
    .rodape {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .rodape {
        height: 300px;
    }
}


/*

    #e7e7e7
#f8f8f8
*/